.form{
    position: relative;
    width: 100%;
    height: 100%;
}

.error{
    color: red;
}
.title{
    position: relative;
    top: 10%;
    left: 0%;
    width: 100%;
    color: white;
}
.btn{
    padding: 1rem;
    border-radius: 20px;
    border-color: orange;
    background-color: #ff5e22;
    color: white;
}